[flake8]
exclude = doc, htmlcov, .git, __pycache__, .pytest_cache, .vscode, .idea .venv build
max-line-length = 120
count = True
show-source = True
statistics = True
per-file-ignores =
    # undefined name
    test_demo.py: F821
    # undefined name
    test_disk_info.py: F821
    # undefined name
    test_disk.py: F821
