name: Publish Python distribution packages to PyPI.

on:
  release:
    types: [published]

jobs:
  build-n-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: main
      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.14"
      - name: Build a binary wheel and a source tarball
        run: uv build
      - name: Publish a Python distribution package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
