name: Unit test and lint execution.

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        include:
          - coverage: true
            os: "ubuntu-latest"
            python-version: "3.14"

    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: uv sync
      - name: Lint with ruff and pylint
        run: |
          uv run ruff check .
          uv run pylint src/diskinfo/ test/
      - name: Test with pytest
        run: uv run pytest
      - name: Generate coverage report
        if: "matrix.coverage"
        run: uv run pytest --cov=src/diskinfo --cov-report=xml
      - name: Upload coverage to Codecov
        if: "matrix.coverage"
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
